<ul class="navbar justify-content-center bg-danger list-unstyled">
  <li class="nav-item">
    <a href="/" routerLink="/admin" class="nav-link text-white">
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a href="/" routerLink="/admin/posts" class="nav-link text-white">
      Posts
    </a>
  </li>
  <li class="nav-item">
    <a href="/" routerLink="/admin/posts/add" class="nav-link text-white">
      Add Post
    </a>
  </li>
  <li class="nav-item">
    <a href="/" routerLink="/admin/settings" class="nav-link text-white">
      Settings
    </a>
  </li>
</ul>