<div>
  <div class="text-center mb-4" *ngIf="posts.length > 0">
    <h2>Our Latest Posts</h2>
  </div>
  <div class="row mb-3" *ngIf="posts.length > 0; else noPosts">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </div>
  </div>
  <ng-template #noPosts>
    <div class="preloader-holder">
      <div class="lds-roller preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </ng-template>
</div>